.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* gap: auto; */
}
.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 45px; */
    /* margin: 60px; */
    margin-top: 50px;
    gap: 10px;
}
